.layout {
  --main-text: #CABB93;
  --main-border: #CABB93;
  --main-focus: #ffdc77;
  --main-back: rgba(202, 187, 147, 0.05);
  --main-srollbar-tumb: rgb(184, 178, 162);
  --main-srollbar: rgba(38, 6, 6, 0.05);
}
